.content {
  & > .row:first-child {
    border-bottom: 1px solid $gray-2;
    margin-bottom: 20px;
  }

  .nav.nav-tabs {
    padding: 10px 0 0 0;
  }

  .nav-tabs {
    .nav-link {
      border: none;
      color: white;
      background-color: $blue-1;
      font-weight: bold;
      padding: 4px 12px 10px 12px;

      &.active,
      &:hover,
      &:focus {
        border: none;
        color: white;
        background-color: $green;
      }

      &:hover.active {
        cursor: default,
      }

      &:hover:not(.active) {
        cursor: pointer;
      }
    }
  }
}
