/**
 * shared.scss - version 1.0.0
 * 
 * Styles for common HTML elements
 */

// If you ever change the font size of the HTML element, please change this too!
$one-pixel-in-rem: 0.0625rem;

html {
  height: 100%;
  font-size: 16px; // This is equivalent to 1 rem size
}

body {
  min-height: 100%;
  background-color: $blue-2;
  font-family: $font;
  font-weight: 400;
}
